@model IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h4>Filtrar</h4>

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <label for="edad">Edad</label>
    <input type="number" name="edad" id="edad" />
    <input type="submit" value="Filtrar" class="btn btn-success" />
}

<h4>Resultados</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model.Personas)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Edad</td>
            </tr>
        }
    </tbody>
</table>
@{Html.RenderPartial("_paginador", Model);}
